/*Initialisation de la page dans le body*/
body {
    margin: 0 auto;
    background-color: #fafafa;
    position: relative;
    bottom: 0;
    margin-right: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/*Taille des textes*/
p {
    font-size: 1.75vw;
    text-align: justify;
}

/*Couleur de la page ( background / texte )*/
.Bleu {
    color: #0073c4;
}

.Or {
    color: #CBA834;
}

.Violet {
    color: #7B0DC3;
}

.backgroundBleu {
    background-color: #0073c4;
}

.backgroundOr {
    background-color: #CBA834;
}

.backgroundViolet {
    background-color: #7B0DC3;
}

/*------------------------------------------*/
/*Rectange de fond */
.rectangle {
    transform: rotate(-140.72deg);
    flex-shrink: 0;
    z-index: -1;
    position: absolute;
}

.rectangleGauche {
    width: 585.339px;
    height: 741.58px;
}

.RcouleurBleu {
    background: rgba(0, 115, 196, 0.34);
}

.RcouleurOr {
    background: rgba(203, 168, 52, 0.34);
}

.RcouleurViolet {
    background: rgba(123, 13, 195, 0.34);
}

.rectangleDroit {
    width: 741.58px;
    height: 585.339px;
    margin-left: 50%;
}

/*------------------------------------------*/
/*Tableau de la page abonnement*/
table {
    margin-top: 10%;
    margin-left: 15%;
    height: 30vh;
    width: 70%;
    background-color: #fafafa;
}

.tabGris {
    background-color: #d9d9d9;
}

th {
    font-size: 2vh;
}

td {
    font-size: 2vh;
    text-align: center;
}

/*-------------------------------------------*/
/*navBar*/
nav {
    background-color: #fafafa;
    width: 100vw;
    font-weight: bold;
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #0f0f0f;
    row-gap: 2em;
}

.IUTlyon1 {
    font-weight: 900;
}

.pageActuelle:hover {
    color: #0f0f0f;
}

.navbarLinkIndex:hover {
    color: #0073c4;
}

.navbarLinkAbo:hover {
    color: #CBA834;
}

.navbarLinkDistance:hover {
    color: #7B0DC3;
}

.conteneurnav2 {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    height: 50px;
    width: 100vw;
}

li {

    text-decoration: none;
    font-size: 1.2em;
    margin-left: 6%;
    padding-top: 0.7em;
    column-gap: 2em;
}

/*------------------------------------------*/
/*Titre de page*/
.backgroundPhotoAbo {
    background-image: url(img/Argent.webp);
}

.backgroundPhotoIndex {
    background-image: url(img/TCL_Photo.webp);
}

.backgroundPhotoDistance {
    background-image: url(img/distance.webp);
}

h1 {
    height: 30vh;
    margin-top: 0;
    color: #fafafa;
    font-size: 1100%;
    font-weight: 800;
    background-size: cover;
}

/*-------------------------------------------*/
/*titres dans les pages*/
.titre {
    text-align: center;
}

/*-------------------------------------------*/
/*Placement des éléments*/
.divtext {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-top: 8%;
    z-index: 1;
}

.photo {
    width: 40vw;
    height: 60vh;
    border-radius: 10px;
    z-index: 1;
}

.textTitre { /*Placement des textes en dessous des titres*/
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vh;
    font-size: 1.3em;
    text-align: center;
    z-index: 1;
    border-radius: 10px;
    justify-content: center;
}

.textTitreGauche {
    margin-left: 20%;
    padding-top: 5vh;
}

.textTitreDroite {
    margin-right: 20%;
    padding-top: 5vh;
}

#photoText,
#photoText2,
#photoText3,
#photoText4,
#photoText5 { /*Placement des photo à coté des textes*/

    display: flex;
    flex-direction: row;
    margin-left: 5vw;
}

/*-------------------------------------------*/

/*Formulaire de la page d'accueil*/
#formulaire {
    margin-top: 20vh;
    text-align: center;
}

.conteneur {
    margin-top: 4.5vh;
}

textarea {
    resize: none;
}

form {
    background-color: #d9d9d9;
    width: 50vw;
    height: 50vh;
    margin-left: 25vw;
    border-radius: 10px;
    text-align: center;
}

.placementlabel {
    display: flex;
    flex-direction: row;
}

#salut {
    /*Placement des éléments interne au formulaire*/
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0px;
    text-align: left;
}

label {
    margin-left: 2vw;
    text-align: left;
    margin-top: auto;
    width: 11vw;
    font-size: 1vw;
}

.messageLabel {
    margin-top: 9vh;
}

input,
textarea {
    border-style: none;
    border-radius: 2px;
    margin-top: 2vh;
    margin-left: 2vw;
}

.Textarea {
    height: 15vh;
    width: 34.5vw;
    margin-left: 0.5vw;
}

.inputwidth {
    width: 40vw;
}

.message {
    padding: 8%;
}

input:focus,
textarea:focus {
    outline: rgba(0, 115, 196, 0.34);
    border: 2px solid rgba(0, 115, 196, 0.34);
}

.infoperso {
    width: 16vw;
}

.prenom {
    margin-left: 0.5vw;
}

.Telephone {
    width: 48.25vw;
}

.email {
    width: 48.25vw;
}

.boutonForm {
    margin-top: 5vh;
    margin-left: 13.5vw;
    height: 5vh;
    width: 35vw;
}

.boutonForm:hover {
    background-color: rgba(0, 115, 196, 0.34);
}

/*-------------------------------------------*/

button {
    border-radius: 5px;
    border-style: none;
}

/*Bouton de la page abonnement*/
.boutonRedirection {
    background-color: #C0C0C0;
    margin-left: 6.125vw;
    width: 12vw;
    height: 6vh;
    font-size: 0.7em;
    transition-duration: 0.3s;
}

.boutonRedirection:hover {
    background-color: rgba(203, 168, 52, 0.34);
    color: #0f0f0f;
}

/*----------------------------------------------*/
/*Photo légendé de la page Distance*/
.legendeCarte {
    width: 72.35vw;
    margin-left: 13vw;
    border: 2px solid rgba(123, 13, 195, 0.34);
    border-radius: 3px;
}

/*-----------------------------------------------*/
/*Footer*/
footer {
    grid-area: footer;
    display: grid;
    grid-template-areas:
        "div1 div2"
        "companyName companyName";
    grid-template-rows: 1fr 10%;
    grid-template-columns: 50% 50%;
    margin-top: 5vw;
}

.textfooter {
    font-size: 2.5vh;
}

.div2 {
    grid-area: div2;
}

.companyName { /*Nom IUT Lyon 1 en bas de page*/
    grid-area: companyName;
    text-align: center;
    border-top: #0f0f0f;
    border-top-style: inset;
    text-align: center;
    margin: -0.25vh;
    padding: 0.50vh;
}

.svg {
    margin-left: 2vw;
    width: 3vw;
    height: 3vw;
}

#container {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-rows: 67px 1fr 375px;
    grid-template-columns: auto;
}

/*------------------------------------------*/
/*Responsive format portrait téléphone*/
@media (max-width: 520px) {
    .IUTlyon1 {
        font-weight: 800;
        margin-left: 0;
    }

    .conteneurnav {
        margin-left: 30vw;
        flex-direction: column;
    }

    .conteneurnav2 {
        margin-left: -20vw;
    }

    li {
        font-size: 0.9em;
    }

    h1 {
        font-size: 3em;
        height: 10vh;
    }

    p,
    h3 {
        font-size: 0.4em;
    }

    h2 {
        font-size: 0.7em;
    }

    .divtext {
        display: flex;
        flex-direction: column;
        margin-left: 15vw;
        z-index: 1;
    }

    .droit {
        flex-direction: column-reverse;
    }

    .textTitre {
        width: 60vw;
        height: 25vh;
        font-size: 1.8em;
        margin-left: 0;
    }

    .photo {
        width: 60vw;
        height: 30vh;
        border-radius: 10px;
        z-index: 1;
    }

    .rectangle {
        width: 60vw;
        height: 30vh;
    }

    .rectangleDroit {
        margin-left: 3vw;
    }

    #formulaire {
        margin-top: 10vh;
        margin-left: -5vw;
        text-align: center;
    }

    form {
        background-color: #d9d9d9;
        width: 50vw;
        height: 50vh;
        border-radius: 10px;
        text-align: center;
    }

    label {
        font-size: 2vw;
    }

    .inputwidth {
        width: 33.5vw;
    }

    .boutonForm {
        margin-top: 5vh;
        margin-left: 14vw;
        border-radius: 5px;
        border-style: none;
    }

    .boutonRedirection {
        margin-left: 18vw;
        width: 25vw;
        height: 3vh;
        font-size: 0.4em;

    }

    footer {
        grid-area: footer;
        display: grid;
        grid-template-areas:
            "div1"
            "div2"
            "companyName";
        grid-template-rows: 1fr 1fr 10%;
        grid-template-columns: 50%;
        margin-top: 5vw;
        font-size: 2em;
        width: 100vw;
        padding-left: 1vw;
    }

    .div1 {
        grid-area: div1;
    }

    .div2 {
        grid-area: div2;
    }

    .companyName {
        width: 100vw;
    }

    .svg {
        margin-left: 6vw;
        width: 6vw;
        height: 6vw;
    }
}

/*-------------------------------------------*/
/*Responsive format paysage téléphone*/
@media (max-height: 520px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    h1 {
        height: 40vh;
        font-size: 7em;
    }

    .rectangleDroit {
        background: #fafafa
    }

    table {
        margin-bottom: 5vh;
        height: 20vh;
    }

    p {
        font-size: 0.7em;
    }

    .boutonForm {
        margin-top: -1vh;
    }

    footer {
        height: 35vw;
    }
}

/*-----------------------------------------------*/